body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    background-color: #FAFAFA;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }
  button {
    cursor: pointer;
  }  
  .list {
    list-style-type: none;
  }  
  .link {
    text-decoration: none;

  }  
  ul, ol {    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
    /* header */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
      margin-bottom: 0;
    }
    .page-header {
      border-bottom: 1px solid #e7e9fc;  
    }
.container {
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

.header-container {
  align-items: center;
  

}
.page-nav { 
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menu {
  display: flex;
  column-gap: 24px;
}
.menu:first-child {
  
}
  .logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
  }  
  .menu-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111111;
    display: block;
    padding: 28px 0 36px 0;        
 
  }  
  .menu-link:hover,
  .menu-link:focus {
    color: #fd9222;
  }
.menu-item {
  color: #111;
  font-weight: 500;
  line-height: 1.14;
  
}
/* hero section */
.hero-section { 
  background: rgba(17, 17, 17, 0.40);
  
}
.hero-title {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; 
  letter-spacing: -0.03;
  padding-left: 40px;
  width: 484px;
  padding-bottom: 32px;
}
.container-btn-first {
 
}
.container-btn {
  display: flex;
  justify-content: baseline;
  align-items: center;

}


.hero-btn {
  color: #FFF;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background-color: #FD9222;
  margin-right: 14px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  

}
.hero-btn:focus, 
.hero-btn:hover { 
  border-radius: 100px;
  background-color: #FCF1E0;
  color: #FD9222;

}
.hero-link {
  color: #FFF;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #FFF;
  margin-right: 585px;

}
.hero-link:focus, .hero-link:hover  {
  border-radius: 100px;
  border: 1px solid #FD9222;
  color: #FD9222;
}
.hero-link-scroll {
  color: #FFF;  
  font-weight: 500;
  line-height: 1.29; 
  letter-spacing: -0.03;
}

/* section benefits */
.benefits {
  background-color: #1E1823;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  color: #FFF;
  font-size: 18px;  
  font-weight: 600;  
}
.benefits-menu {

}
.benefits-menu-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;

}
.benefits-menu-prgf {
color: rgba(255, 255, 255, 0.70);

}
.benefits-menu-item {

}
/* section ingredients */
.ingredients {

}
.ingredients-tast {
  color: #FD9222;

}
.ingredients-title {
  color:   #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; 
  letter-spacing: -0.03;
  text-transform: uppercase;
}
.ingredients-prgf {
  color: #111;
  text-align: center;
  line-height: 1.29; 

}
.ingredients-menu {
 
  display: flex;
  width: 1136px;
  align-items: flex-start;
  gap: 19px;
  
  padding: 28px 36px 28px 28px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-left: 32px;
}
.ingredients-menu-item-first {  
  background: #FD9222;
  border-radius: 15px;


}
.ingredients-menu-item-second {
  border: 1px solid #FD9222;
  background: #FFF;
  border-radius: 15px;
   
}
.ingredients-menu-item-third {
  background: #1E1823;
  border-radius: 15px;
 
}

.ingredients-menu-item-fourth {
  border: 1px solid #FD9222;
  background: #FFF;
  border-radius: 15px;
  
  

}
.ingredients-img {

}
.ingredients-menu-title {
  color: #FFF;
  font-weight: 600;
  line-height: 1.29; 
  text-transform: uppercase;
}
.ingredients-menu-title-black {
  color: #111;
}
/* section how made */
.how-made {

}
.how-made-title {
  color: #111;
font-size: 24px;
font-weight: 600;
line-height: 1.17; 
letter-spacing: -0.03;
text-transform: uppercase;
}
.how-made-made {
  color: #FD9222;
}
.how-made-img {
  border-radius: 15px;
}
.how-made-title-secondary {
  color: #111;
font-size: 18px;
font-weight: 600;
line-height: 1.33;
}
.how-made-menu {

}
.how-made-menu-item {
  color: #111;

}
/* section reviews */
.reviews {

}
.reviews-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; 
  letter-spacing: -0.03;
  text-transform: uppercase;
  color: #111;
}
.reviews-title-choco {
  color: #FD9222;

}
.reviews-menu {

}
.reviews-menu-item {

}
.reviews-img {

}
.reviews-menu-item-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.reviews-menu-item-prgf {
  color: rgba(17, 17, 17, 0.70);
  text-align: center;

}
.reviews-btn {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #FD9222;

}
.reviews-btn:focus, 
.reviews-btn:hover {
  color: #FFF;
  border-radius: 100px;
  background: #FD9222;
}
/* footer */
.footer {
  background-color: #1E1823;
}
.footer-prgf {
  color: #FD9222;

  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
}
.footer-prgf-span {
  color: #FFF;
}
.footer-title {
  color: #FFF;  
  text-align: center; 
  font-weight: 500;

}
.footer-menu {

}
.footer-menu-item { 
  color: #FFF;  
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}
.footer-adress {
  color: #FFF;
  
}
.footer-nav {

}
.footer-list-nav .link {
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; 
}
.footer-list-nav-item  { 

}

.footer-link-nav {
  
  
}

.footer-link-nav:focus, .footer-link-nav:hover {
  color: #FD9222;
}