/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    background-color: #FAFAFA;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }
  button {
    cursor: pointer;
  }  
  .list {
    list-style-type: none;
  }  
  .link {
    text-decoration: none;

  }  
  ul, ol {    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  img {
    display: block;
  }
    /* ====================  header  ======================*/
 
    .page-header {
      border-bottom: 1px solid #e7e9fc;  
    }
.container {
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

.header-container {
  align-items: center;
  

}
.page-nav { 
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menu {
  display: flex;
  column-gap: 24px;
}
.menu:first-child {
  
}
  .logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
  }  
  .menu-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111111;
    display: block;
    padding: 28px 0 36px 0;        
 
  }  
  .menu-link:hover,
  .menu-link:focus {
    color: #fd9222;
  }
.menu-item {
  color: #111;
  font-weight: 500;
  line-height: 1.14;
  
}
/* =================  hero section  ====================== */
.hero-section-container { 
background: rgba(17, 17, 17, 0.40);
background-image: url(../images/chocolate-covered-cocoa-powder.jpg);
background-repeat: no-repeat;
width: 1136px;
padding: 381px 40px 40px 40px;
margin-left: auto;
margin-right: auto;
border-radius: 30px;

  
}
.hero-title {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; 
  letter-spacing: -0.03;
  width: 484px;
  padding-bottom: 32px;

 
}
.container-btn-first {
 display: inline-flex;
 align-items: center;
}
.container-btn {
  display: flex;
  align-items: flex-start;
  gap: 14px;

}


.hero-btn {
  color: #FFF;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background-color: #FD9222;
  padding: 14px 40px;

}

.hero-btn:focus, 
.hero-btn:hover { 
  border-radius: 100px;
  background-color: #FCF1E0;
  color: #FD9222;

}
.hero-link {
  color: #FFF;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #FFF;
  padding: 14px 40px;

}
.hero-link:focus, .hero-link:hover  {
  border-radius: 100px;
  border: 1px solid #FD9222;
  color: #FD9222;
}
.hero-link-scroll {
  color: #FFF;  
  font-weight: 500;
  line-height: 1.29; 
  letter-spacing: -0.03em;
  margin-left: 585px;
}

/* ===========   section benefits   ============= */

.benefits {
  background-color: #1E1823;
  margin-top: 72px;
  margin-bottom: 50px;
  width: 1200px;
  margin: 72px auto;

}

.benefits-container {

padding: 50px;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  color: #FFF;
  font-size: 18px;  
  font-weight: 600; 
  
}
.benefits-menu {
  display: inline-flex;
  gap: 70px;
}
.benefits-menu-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px; 

}
.benefits-menu-prgf {
color: rgba(255, 255, 255, 0.70);

}
.benefits-menu-item {
  width: 308px;
}
/* =============    section ingredients   =========== */
.ingredients {
margin-bottom: 100px;
}
.ingredients-tast {
  color: #FD9222;

}
.ingredients-title {
  color:   #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; 
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.ingredients-prgf {
  color: #111;
  text-align: center;
  line-height: 1.29; 
  width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;

}
.container-ingredients-title-prgph {
 
}
.ingredients-menu { 
  display: flex;
  width: 1136px; 
  justify-content: space-between;

  

}
.ingredients-menu-item {
padding: 28px 36px 28px 28px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 36px;
display: flex;
}

.ingredients-menu-item-first {  
  background: #FD9222;
  border-radius: 15px;
  



}
.ingredients-menu-item-second {
  border: 1px solid #FD9222;
  background: #FFF;
  border-radius: 15px;
   
}
.ingredients-menu-item-third {
  background: #1E1823;
  border-radius: 15px;
 
}

.ingredients-menu-item-fourth {
  border: 1px solid #FD9222;
  background: #FFF;
  border-radius: 15px;
  
  

}
.ingredients-img {

}
.ingredients-menu-title {
  color: #FFF;
  font-weight: 600;
  line-height: 1.29; 
  text-transform: uppercase;
}
.ingredients-menu-title-black {
  color: #111;
}
/* section how made */
.how-made {

}
.how-made-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; 
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.container-how-made {
  display: flex;
  gap: 50px;
  margin-bottom: 100px;

}
.container-how-made-title-menu {
display: block;
padding: 32px;

}
.how-made-made {
  color: #FD9222;
}
.how-made-img {
  border-radius: 15px;
}
.how-made-title-secondary {
  color: #111;
font-size: 18px;
font-weight: 600;
line-height: 1.33em;
margin-bottom: 28px;
}
.how-made-menu {

}
.how-made-menu-item {
  color: #111;
  margin-bottom: 24px;

}
/* section reviews */
.reviews {

}
.reviews-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; 
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}
.reviews-title-choco {
  color: #FD9222;

}
.container-reviews {
margin-top: 50px;
margin-bottom: 50px;
}
.reviews-menu {
  display: flex;
  justify-content: space-around;
 
}
.reviews-menu-item {
  width: 360px;
  text-align: center;
  list-style-type: none;
  background-color:#FFF;
}
.reviews-img {
margin: 0 140px 18px 140px;
}
.reviews-menu-item-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  margin-bottom: 24px;

}
.reviews-menu-item-prgf {
  color: rgba(17, 17, 17, 0.70);
  text-align: center;

}
.reviews-btn {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #FD9222;  
  width: 222px;
  height: 50px;
  padding: 14px 40px;
  gap: 14px;
  flex-shrink: 0;

}
.reviews-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.reviews-btn:focus, 
.reviews-btn:hover {
  color: #FFF;
  border-radius: 100px;
  background: #FD9222;
}
/* footer */
.footer {
  background-color: #1E1823;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}
.container-footer {
  display: flex;
   padding-top: 50px;
   justify-content: space-between;
   margin-bottom: 72px;
}
.footer-prgf {
  color: #FD9222;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21em; /* 121.429% */
  letter-spacing: -0.02em;
  width: 300px;
}
.footer-prgf-span {
  color: #FFF;
}
.footer-title {
  color: #FFF;  
  text-align: center; 
  font-weight: 500;
  margin-bottom: 14px;

}
.footer-menu {

}
.footer-menu-item { 
  color: #FFF;  
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}
.footer-adress {
  color: #FFF;
  
}
.contact-container {
display: flex;
flex-direction: column;
align-items: flex-start;

}
.footer-list-nav {
  display: flex;
  justify-content: left;
  gap: 24px;
  padding-bottom: 68px;
}
.footer-nav-form-container {
  display: flex;
  justify-content: left;
  
}
.footer-list-nav .link {
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; 
}
.footer-list-nav-item  { 

}

.footer-link-nav {
  
  
}

.footer-link-nav:focus, .footer-link-nav:hover {
  color: #FD9222;
}